html{
	font-family: Segoe UI;
}
body{
	margin: 0px;
}
html,body{
	height: 100%;
	width: 100%;
}
a{
	text-decoration: none;
	color: #707070;
	font-size: 15px;
}
a:hover{
	color: #fff;
}
a:active{
	color: #fff;
}


/* Index page starts here */

/* Header Section */
header{
	margin-left: 20px;
	margin-right: 20px;
}
span, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	color: #707070;
}
.logo-main{
	height: 50px;
	width: 50px;
	margin: 5px 0px;
}
.logo-phone{
	height: 25px;
	width: 25px;
}
.logo-mail{
	height: 30px;
	width: 30px;
}
#header, #logo, .phone, .mail{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
#header{
	width: 100%;
}
#logo{
	margin-right: auto;
}
.phone{
	margin-right: 35px;
}
#logo > span, .phone > span, .mail > a{
	margin-left: 10px;
}
.phone > span{
	margin-left: 6px;
}
#logo > span{
	font-size: 29px;
}
.phone > span, .mail > a{
	font-size: 17px;
}
.phone > img, .mail > img{
	padding-top: 5px;
}
.mail >a:hover{
	color: #707070;
}

/* Navbar Section */
nav{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #2A2828;
}
.nav-logo{
	height: 30px;
	width: 30px;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 10px; 
}
.nav-items{
	font-size: 15px;
	margin: 0 50px;
	font-weight: 500;	
}

/* Slider Section */
.slide{
	height: 470px;
	width: 100%;
	object-fit: contain;
}
.slide > img{
	height: 100%;
	width: 100%;
}

/* Explore Section */
.section{
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-rows: auto;
	grid-gap: 50px;
	margin-top: 30px;
}
.underline{
	background-color: #6A0D0D;
	width: 100px;
	height: 2px;
	margin-top: 5px;
}
.explore-types{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}
.explore-types > a{
	flex: 1 1 10%;
}
.explore-product{
	display: grid;
	justify-content: center;
	grid-gap: 10px;
	margin-bottom: 30px;
}
.explore-product-img{
	height: 50px;
	width: 50px;
}
.explore-product-title{
	margin: 0px 0px;
	color: #2A2828;
	align-self: center;
}
section > hr{
	width: 70%;
}

/* Products Section */
.products{
	margin-top: 30px;
	margin-bottom: 30px;
}
.products-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.product{
	margin: 20px 60px;
}
.product-img{
	//border: 1px #2A2828 solid;
	border-radius: 5px;
	height: 300px;
	width: 300px;
	overflow: hidden;
	box-shadow: 0.5px 0.5px 20px #a9a8a8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-img>img{
	height: 80%;
	width: 80%;
	object-fit: contain;
	transition: all 1s;
}
.product-img>img:hover{
	transform: scale(1.2);
}
.product-info > h4{
	color: #6A0D0D; 
	margin-top: 25px;
	margin-bottom: 5px;
}

/* Projects Section */
.projects-section{
	margin-bottom: 30px;
}
.projects-head{
	margin: 30px 0px;
}
.projects{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.project{
	height: 350px;
	width: 350px;
	margin: 20px;
	overflow: hidden;
}
.project > img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: all 1s;
}
.project>img:hover{
	transform: scale(1.2);
}

/* Footer section */
footer{
	background-color: #2A2828;
	padding: 15px;
}
#footer-logo{
	padding-left: 50px;
}
.foot-logo{
	height: 40px;
	width: 40px;
}
#footer-logo > span{
	font-size: 25px;
	padding-left: 10px;
}
.footer-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 150px;
	padding-top: 25px;
}
.main-col > ul, .side-col > ul{
	padding: 0px;
	list-style: none;
}
.main-col > ul > li{
	margin: 20px 75px 20px 0px;
}
.side-col > ul > li{
	margin: 20px 25px 20px 75px;
}
.vr{
	height: 150px;
	width: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #707070;
}
.social-and-copy{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-left: auto;
}
.social-section{
	flex: 1 1 100%;
	align-self: center;
}
.social-head{
	font-size: 20px;
	padding-left:20px; 
	padding-bottom: 15px;	
}
.social-head > p{
	color: #707070;
}
.social{
	height: 50px;
	width: 50px;
	padding-right: 5px;
	padding-left: 20px;
}
.copyright{
	flex: 1 1 100%;
	flex-wrap: wrap;
	align-self: center;
	padding-right: 5px;
	padding-left: 20px;
}

/* Index page ends here */